body{
    font: 20px;
    background-color: #CFD8DC;
}

.titulo {
    background-color: #008000;
    padding-top: 10px;
}

.menu {
    background-color: #4CAF50;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jogo{
    text-align: center;
    background-color: #263238;
    padding-top: 30px;
    padding-bottom: 25px;
}


